name: Build
on: [push, workflow_dispatch]
jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        uses: ArtemSerebriakov/buildozer-action@v1
        with:
          command: buildozer android debug
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: FRIDAY_RED
          path: bin/*.apk
